<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} — Blake Porter</title>
    <meta name="description" content="{{ description | safe }}" />

    {# — Global stylesheet —#}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | url }}" />
  </head>
  <body class="{{ bodyClass | default("") }}">
    {% include "partials/header.html" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
