# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files (optional for secrets)
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other temporary files
*.tmp
*.temp